<article class="flex flex-col items-center justify-center gap-8 md:flex-row">
  <div class="[&>p]:mb-4 text-pretty order-2 md:order-1">
    <p class="[&>span]:text-indigo-700 dark:[&>span]:text-blue-200 [&>span]:font-semibold">
      Al principio solía crear diseños para videojuegos independientes. Luego,
      cuando descubrí mi pasión por el desarrollo web, me di cuenta de que ambos
      mundos encajaban perfectamente. Mi <span>enfoque creativo en el diseño</span>, y mi
      <span>habilidad lógica para codificar</span>. Esto me permite ser <span>minucioso</span>,
      asegurándome que <span>ningún detalle se pierda en los resultados</span>.
    </p>

    <p class="[&>span]:text-indigo-700 dark:[&>span]:text-blue-200 [&>span]:font-semibold">
      Soy partidario de las <span>buenas prácticas</span> y el minimalismo. Por esto, me
      mantengo abierto en recibir feedback para mejorar la calidad de los
      resultados y crecer como profesional.
    </p>
  </div>
</article>
