<div class="flex items-center">
  <span
    class="border border-green-200 bg-green-100 text-green-800 font-medium text-sm rounded-full px-3 hover:scale-x-105 transition dark:bg-gray-800 dark:text-white/80"
  >
    <slot />
  </span>
</div>
