---
const currentYear = new Date().getFullYear();
---

<footer class="flex flex-row justify-center items-center mt-24 pb-6 opacity-80">
  <span class="text-sm">
    © {currentYear}
    <a
      href="https://www.linkedin.com/in/abelguardop/"
      target="_blank"
      class="hover:underline">Abel Guardo</a
    >. Todos los derechos reservados
  </span>
</footer>
